<div class="contents">
    <button 
  (click)="action1.emit($event)"
    >
    <app-icon
      name="arrowrightfilled" fill="#0041A3" size="20"/>
    {{ text1 }}
    </button>

    <button 
  (click)="action2.emit($event)"
    >
    <app-icon
      name="arrowupfilled" fill="#0041A3" size="20"/>
    {{ text2 }}
    </button>

    <button 
  (click)="action3.emit($event)"
    >
    <app-icon
      name="arrowdownfilled" fill="#0041A3" size="20"/>
    {{ text3 }}
    </button>
</div>
