/* Primaries */
$primary-blue: #0041A3;
$primary-white-bg: #F4F7F9;

/* Color texts */
$color-text-titles: #0041A3;
$color-texts-body: #70777B;
$color-texts-captions: #A9ADB0;

/* Semantic */
$sh-green: #3BD4AE;
$sh-red: #CA4949;
$sh-red-pressed: #A23A3A;
$sh-red-hovered: #F46060;
$ps-yellow: #FFCD00;

/* Blue scale */
$blue-scale-700: #3e444d;
$blue-scale-600: #003482;
$blue-scale-500: #0041A3;
$blue-scale-400: #668DC8;
$blue-scale-300: #99B3DA;
$blue-scale-200: #C2D1E9;
$blue-scale-100: #E5F0FE;

/* Neutral colors */
$ns-gray: #70777B;
$ns-gray-subtitle: #8D9295;
$sh-gray: #A9ADB0;
$sh-white: #FFFFFF;