/* Paddings */
$padding-none: 0px;
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 12px;
$padding-lg: 16px;
$padding-xl: 20px;
$padding-xxl: 24px;
$padding-xxxl: 32px;

/* Spacings */
$spacing-none: 0px;
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

/* Radius */
$radius-xs: 4px;
$radius-sm: 8px;
$radius-md: 16px;
$radius-lg: 24px;
$radius-xl: 40px;