$text-display-size: 64px;
$text-display-weight: 700; 

$text-h1-size: 48px;
$text-h1-weight: 700;

$text-h2-size: 36px;
$text-h2-weight: 700;

$text-h3-size: 28px;
$text-h3-weight: 700;

$text-h4-size: 24px;
$text-h4-weight: 700;

$text-subtitle-size: 18px;
$text-subtitle-weight: 600; 

$text-body-size: 16px;
$text-body-weight: 500;

$text-body-sm-size: 14px;
$text-body-sm-weight: 500;

$text-caption-size: 12px;
$text-caption-weight: 400;

$text-btn-size: 14px;
$text-btn-weight: 600;

$text-overline-size: 14px;
$text-overline-weight: 500;