@use "../../../styles/colors" as colors;
@use '../../../styles/spacings' as spacings;
@use '../../../styles/typography' as typography;


.form {
  --width: 222px; /* Valor por defecto */
  --height: 40px; /* Valor por defecto */
  
  height: var(--height);
  width: var(--width);

  color: colors.$sh-gray;

  font-size: typography.$text-caption-size;
  font-weight: typography.$text-caption-weight;

  padding:spacings.$padding-lg;
  background: colors.$sh-white;
  position: relative;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.search {
  width: 100%;
  padding-inline-start: calc(var(--padding) + var(--gap));
  outline: none;
  background: none;
  border: 0;
}

/* close button */
.clear-button {
  /* removing default bg of button */
  background: none;
  border: none;
  right: calc(var(--padding) - var(--gap));
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
}


.form input:valid ~ .clear-button {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: 0s;
}
