@use "../../../../styles/colors" as colors;
@use "../../../../styles/typography" as typography;
@use "../../../../styles/spacings" as spacing;

.header-momentos {
    padding: 16px 0;
    width: 638px;
    max-width: 100%;
  
    &.full-width {
      width: 100%;
    }
  
    .title {
      font-size: typography.$text-h4-size;
      font-weight: typography.$text-h4-weight;
      color: colors.$primary-blue;
      margin: 0;
    }
  
    .subtitle {
      font-size: typography.$text-body-sm-size;
      font-weight: typography.$text-body-sm-weight;
      color: colors.$color-texts-captions;
      margin: spacing.$spacing-xs 0;
    }
  
    .content {
      font-size: typography.$text-body-size;
      font-weight: typography.$text-body-weight;
      color: colors.$color-texts-body;
    }
  }
  