<div class="calendar">
    <div class="calendar-header">
      <button class="arrow" (click)="previousMonth()">&lt;</button>
      <div class="month-year">{{ formatMonthYear(currentDate) }}</div>
      <button class="arrow" (click)="nextMonth()">&gt;</button>
    </div>
  
    <div class="calendar-grid">
      <div class="day-name" *ngFor="let dayName of ['Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab', 'Dom']">
        {{ dayName }}
      </div>
  
      <button
        class="day"
        *ngFor="let day of days"
        [class.other-month]="!isCurrentMonth(day)"
        [class.selected]="isSelected(day)"
        (click)="selectDate(day)"
      >
        {{ formatDay(day) }}
      </button>
    </div>
  </div>
  